apiVersion: apps/v1
kind: Deployment
metadata:
  name: currency-collector
  labels:
    app: collector
spec:
  replicas: 1
  selector:
    matchLabels:
      app: collector
  template:
    metadata:
      labels:
        app: collector
    spec:
      containers:
      - name: currency-app
        image: SEU_USUARIO_DOCKER/currency-collector:v1
        ports:
        - containerPort: 8000
        resources:
          limits:
            cpu: "200m"
            memory: "256Mi"
          requests:
            cpu: "100m"
            memory: "128Mi"
