name: CI - K8s Currency Monitor

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: 

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Validate Kubernetes Manifests
        uses: stefanprodan/kube-tools@v1
        with:
          command: |
            kubeconform -summary -ignore-filename-pattern docker-compose ./currency-converter/

      - name: Build Docker Image (Check)
        run: |
          cd currency-converter
          docker build -t currency-monitor-test:latest .
