name: CI - K8s Currency Monitor

# Gatilhos: roda em todo push ou pull request na main
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: 

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # 1. Baixa o seu código para a máquina do GitHub
      - name: Checkout Code
        uses: actions/checkout@v4

      # 2. Valida os arquivos YAML do Kubernetes
      # Usamos --validate=false para não dar erro de conexão com servidor
      - name: Validate Kubernetes Manifests
        uses: stefanprodan/kube-tools@v1
        with:
          kubectl: 1.28.0
          command: |
            kubectl apply --dry-run=client --validate=false -f ./currency-converter/

      # 3. Tenta buildar a imagem Docker para ver se o Dockerfile está ok
      - name: Build Docker Image (Check)
        run: |
          cd currency-converter
          docker build -t currency-monitor-test:latest .
