name: CI - K8s Currency Monitor

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # 1. Baixa o código
      - name: Checkout Code
        uses: actions/checkout@v4

      # 2. Valida se os arquivos do Kubernetes (.yaml) estão corretos
      - name: Validate Kubernetes Manifests
        uses: stefanprodan/kube-tools@v1
        with:
          kubectl: 1.28.0
          command: |
            # Tenta fazer um "dry-run" nos seus arquivos da pasta k8s
            # (Substitua './k8s' pela pasta onde estão seus yamls)
              kubectl apply --dry-run=client -f ./currency-converter

      # 3. Testa se o Dockerfile está bem construído (sem gerar imagem final)
      - name: Build Docker Image (Dry Run)
        run: |
          docker build -t currency-monitor-test .
